html{
    height: 100%;
}


body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main{
    flex: 1;
    background-color: #D0E066
}

h1{
    background-color: #383535;
    padding: 25px;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    color: white;
}

nav .container-nav{
    background-color: #A43221;
    margin: 0;
    padding: 15px;
    display: flex;
    justify-content: right;
    gap: 25px;
}

.btn-navbar{
    background-color: #D0E066;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding: 10px;
    border-radius: 30px;
    border: 1px none;
    cursor: pointer;
}

.container-facts{
    background-color: antiquewhite;
    

}

footer .container-footer{
    background-color: #383535;  
    
    padding: 15px; 
    text-align: center;
    color: white;
    margin-top: auto;
    margin-bottom: 0;
}