html{
    height: 100%;
}

body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
}

main{
    flex: 1;
    background-color: #D0E066;
}

.hidden{
    display: none;
}

h1{
    background-color: #383535;
    padding: 25px;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    color: white;
}

h2{
    margin-top: 0;
    margin-bottom: 0;
    padding-right: 10px;
}

nav .container-nav{
    background-color: #A43221;
    margin: 0;
    padding: 15px;
    display: flex;
    justify-content: right;
    gap: 25px;
}

.btn-navbar{
    background-color: #D0E066;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding: 10px;
    border-radius: 30px;
    border: 1px none;
    cursor: pointer;
}

.facts{
    margin-left: 40px;
    margin-right: 40px;
    padding-left: 30px;
    padding-right: 30px;
}

.container-facts{
    background-color: antiquewhite;
    margin: 40px;
    display: flex;
    justify-content: space-between;
    padding: 30px;
    flex-direction: column;
    height: 35vh;
    border-radius: 25px;
}

.container-text{
    display: inline-block;
    width: 100%;
    padding: 20px;
    text-align: center;
    font-size: 20px;
}

.display-data{
    padding: 10px;
}

.controls-buttons{
    width: 100%;
    display: flex;
    justify-content: space-around;
    gap: 15px;
}

.btn-ctrls img{
    width: 40px;
    height: auto;
    cursor: pointer;
}

.btn-ctrls{
    background: none;
    border: none;
}

.favorites{
    margin-left: 40px;
    margin-right: 40px;
    padding-left: 30px;
    padding-right: 30px;
}

.container-favorites{
    background-color: antiquewhite;
    margin: 40px;
    display: flex;
    justify-content: space-between;
    padding: 30px;
    flex-direction: column;
    height: auto;
    border-radius: 25px;
}

.container-title{
    display: flex;
    justify-content: space-around;
}

.btn-start img{
    width: 25px; 
}

.container-items-favorites{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
    padding: 20px;
}

.items{
    background-color: rgb(180, 180, 180);
    padding: 15px;
    border-radius: 5px;
    
}

footer .container-footer{
    background-color: #383535;
    padding: 15px; 
    text-align: center;
    color: white;
    margin-top: auto;
    margin-bottom: 0;
}